* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px;
  box-sizing: border-box;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
ul > li {
  list-style: none;
}
.nav-link {
  display: flex;
}
.nav-link li a {
  margin-left: 50px;
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-weight: 500;
}
.banner {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.banner h3 {
  font-size: 4rem;
}
.btn-primary {
  background-color: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 20px 25px;
  border: 0;
  font-size: 1.25rem;
  cursor: pointer;
}
.img-banner {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
.img-banner img {
  width: 100%;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* team section  */
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 85px auto 130px;
}
.img-team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  /* width: 47%; */
}
.img-team img {
  width: 342px;
  height: 342px;
}
.feature-text {
  color: rgb(255, 144, 14);
}
.team-title {
  font-size: 2.8rem;
  font-weight: 400;
}
.team-content {
  padding: 0 50px;
}

/* feature section  */
.feature {
  display: flex;
  justify-content: space-between;
}
.feature-content {
  width: 35%;
}
.feature-container {
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.06);
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-title {
  font-size: 45px;
  margin-bottom: 24px;
}
.feature-description {
  margin-bottom: 30px;
}
.feature-name {
  font-size: 20px;
  font-weight: 400;
}
.architect-container {
  width: 800px;
  height: 1059px;
  position: relative;
}
.architect-image {
  position: absolute;
  top: 0;
  right: 0;
}
.img-architect {
  width: 708px;
  height: 982px;
}
.architect-experience {
  color: white;
  background-color: rgb(255, 144, 14);
  text-align: center;
  padding: 46px 42px;
  width: 342px;
  height: 200px;
  box-sizing: border-box;
  position: absolute;
  top: 859px;
  z-index: 10;
}
.year {
  font-size: 4rem;
}
/* responsive media queries */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    padding: 50px;
    flex-direction: column;
  }
  .banner {
    width: 75%;
  }
  .team-container {
    flex-direction: column;
    width: 98%;
  }
  .img-team {
    width: 95%;
  }
  .team-content {
    width: 95%;
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    padding: 20px;
    flex-direction: column;
  }
  /* .nav-link {
    flex-direction: column;
  } */
  .banner {
    width: 85%;
  }
  .team-container {
    flex-direction: column;
    width: 98%;
  }
  .img-team {
    width: 95%;
    grid-template-columns: 1fr;
  }
  .img-team img {
    margin: 0 auto;
  }
  .team-content {
    width: 95%;
    padding: 20px;
  }
}
